:root{
    --backgroundcolor: #0D253D;
    --texttowrite: #efeffb88;
    --textcolornormal: #efeffb;
    --yellow: yellow;
  }

body{
  background-color: var(--backgroundcolor);
  color: var(--textcolornormal);
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

h1{
  text-align:center;
}
  
.texttowrite{
  font-size: 3em;
  color: var(--texttowrite);
  max-width: 20em;
}
.container__texttowrite{
  display: flex;
  justify-content: center;
}

.wordsInputs{
  border: none;
  cursor: default;
  display: block;
  margin: 0 auto;
  opacity: 0;
  outline: none;
  padding: 0;
  resize: none;
  z-index: -1;
  font-size: 0;
}

.selectOption{
  background-color: #0D253D;
  color: var(--yellow);
  text-decoration: none;
  min-width: 200px;
  padding: 1em;
  border-radius: 1em;
  margin: 0.5em;
  border: 2px solid white;
}

.timetowrite{
  color: var(--yellow);
}

@keyframes caretFlashSmooth {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .currentPosition {
    background-color: yellow;
  }
  
  .caret {
    font-size: 1.5rem;
    animation: caretFlashSmooth 1s infinite;
    display: inline-block;
    width: 1px;
    height: 1.5rem;
    background-color: black;
  }  

  .countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: red;
  }

  .inputWindow{
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* flex centr all*/
  .inputWindow__header{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .form__input{
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    outline: none;
  }

  .inputWindow__label{
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .button{
    padding: 0.5em;
    width: 10em;
    border: none;
    border-radius: 0.5em;
    outline: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .inputWindow__div{
    width: 20em;
    text-align: center;
  }

  .choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button--space{
    margin:  auto;
    margin-top: 2em;
  }